/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.texthello {
    font-family: 'Press Start 2P', cursive;
    
    font-size: 50px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    user-select: none;  
}



body {
  font-family:'Roboto';
  background-color: #131417; 
  overflow: hidden; 
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  z-index: 1000
}
.container {
  color: #e5e5e5;
  font-size: 2rem;
  /* text-transform: uppercase; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
  z-index: 1000
  
}

.animation > div > div {
  padding: 0.1rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
  z-index: 1000
}

.animation div:first-child {
  animation: text-animation 8s infinite;
  z-index: 1000
}

.first div {
  background-color:#36d322;
  border-radius: 25px;
  /* margin-top: 20px; */
  
}
.second div {
  background-color:#CD921E;
  border-radius: 25px;
}
.third div {
  background-color:#c10528;
  border-radius: 25px;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.3rem;}
  30% {margin-top: -5.3rem;}
  40% {margin-top: -11.0rem;}
  60% {margin-top: -11.0rem;}
  70% {margin-top: -5.3rem;}
  80% {margin-top: -5.3rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
